# Byte-compiled / optimized / DLL files
**/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.idea/
**/.venv/
.ideagit su
.venv
Analysis
**/Analysis
Trials
**/Trials
Result
**/Result
**/Results
Backup
**/Backup/

Models